<div class="  container ">
  <button class="btn btn-primary mx-1" routerLink="/products/new" routerLinkActive="bg-light rounded text-dark"
              [routerLinkActiveOptions]="{exact:true}">Add Product</button>
    <table class="table my-5">
        <thead>
          <tr>
          
            <th scope="col">Product-Name</th>
            <th scope="col">Product-describtion</th>
            <th scope="col">Product-Price</th>
            <th scope="col">Product-Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productItem of productsList">
            <th scope="row" class="d-none">{{productItem._id}}</th>
            <td>{{productItem.productName}}</td>
            <td>{{productItem.description}}</td>
            <td>{{productItem.price}}</td>
            <td><img src="{{productItem.productImage}}" style="width: 150px; height: 150px;"></td>
            <td>        
              <button class="btn btn-warning mx-1" routerLink="/products/{{productItem._id}}" routerLinkActive="bg-light rounded text-dark"
              [routerLinkActiveOptions]="{exact:true}"><span class="material-symbols-outlined">
                edit
                </span></button>
            
                 <button class="btn btn-danger" (click)="deleteProductItem(productItem._id)" ><span class="material-symbols-outlined">
                  delete
                  </span></button> 
            </td>
          </tr>
        
        </tbody>
   
      </table>
    
</div>
