<div class="container">

    

    <div class="row ">


        <div class=" col-md-12 my-5 p-5">

            <div class="row justify-content-center ">
                <div class="col-sm-6">
                    <div class="card-body my-5  p-3">
                        <h5 class="card-title my-5 ">OUR BEGINING</h5>
                        <p class="card-text">Couvee is a brand of food and beverages from Yogyakarta, Indonesia. It was
                            founded by two young man, on April 2017. They started the business together in a modest
                            rented building at Jalan Kaliurang Km 5.</p>
                            <P class="mt-5">"A cup of coffee shared with a friend is happiness tasted and time well spent. "</P>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <img src="https://images.pexels.com/photos/4353572/pexels-photo-4353572.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
                        class="img-fluid rounded-start " style="height: 600px; width: 400px;" alt="...">
                </div>

            </div>
        </div>

    </div>

    <div class="row ">


        <div class=" col-md-12 my-5 p-5">
            <div class="row justify-content-center ">
                <div class="col-md-6 col-sm-6">
                    <img src="https://images.pexels.com/photos/15461841/pexels-photo-15461841.jpeg?auto=compress&cs=tinysrgb&w=600"
                        class="img-fluid rounded-start " style="height: 550px; width: 400px;" alt="...">
                </div>
                <div class="col-sm-6">
                    <div class="card-body my-5">
                        <h5 class="card-title my-3">OUR BACKGROUNDS</h5>
                        <p class="card-text">Couvee comes from the idea that everyone can enjoy coffee. It doesn’t
                            matter if you like your coffee light and sweet, or you prefer strong coffee with no sugar,
                            you can always enjoy it with your personal preferences in here. It’s our pleasure to help
                            you find the best crafted drink that suits your taste in the best way.</p>
                       
                          
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>




