<footer class="container-fluid text-center text-lg-start " style="background-color: #c8a27a;">
  <div class="container d-flex justify-content-center py-1">
   
    <button type="button"  >
      <img src="https://cdn-icons-png.flaticon.com/128/2111/2111774.png" alt="">
    </button>
    <button type="button" class="rounded-0" >
      <img src="https://cdn-icons-png.flaticon.com/512/1077/1077041.png" alt="">
    </button>
    <button type="button" >
      <img src="https://cdn-icons-png.flaticon.com/512/2111/2111819.png" alt="">
    </button>
  </div>

 
</footer>