<!-- Footer -->
<footer class="bg-dark text-center text-white   overflow-hidden mt-5">
    <!-- Grid container -->
    <div class="container p-1 ">
      <!-- Section: Social media -->
      <section class="mb-4 mt-3">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" style="width: 25px;" alt=""></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><img src="https://cdn-icons-png.flaticon.com/128/3256/3256013.png" style="width: 25px;" alt=""></a>
  
        
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><img src="https://cdn-icons-png.flaticon.com/512/1384/1384063.png" style="width: 20px;" alt=""></a>
  
       
      </section>
     
    </div>
   
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/" style="text-decoration: none;">coffee store</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
