.card{
    width: 40px;
    height: 40px;
    border: none;
}
h3{
    color: #000000;
    font-family: "M PLUS Rounded 1c",sans-serif;
    font-size: 24px;
    letter-spacing: 0;
}
span{
    color: #a5a5a5;
    font-family: "M PLUS Rounded 1c",sans-serif;
    font-size: 24px;
    letter-spacing: 0;

}


  
  
  .button:active {
 
    transform: translateY(4px);
}


.footer {
    z-index: -10;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
    opacity: .2;
  }

  img {
      width: 30px;
  }
  @media (max-width: 950px){
      .btn-dash{
          width: 100%;
          margin-top: 2%;
      }
  }