<ng-template [ngIf]="loginStatus == 'user'" [ngIfElse]="adminTemplate">
    <div >
        <div class="bg-light p-5  text-light text-center">
            <h2 class="text-center text-dark mb-5">PRODUCTS</h2>
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class=" row justify-content-center" >
                            <div class=" col-sm-12 col-md-6 col-lg-3 my-5 mx-5 border" *ngFor="let myproduct of productsList">
                                <img [src]="myproduct.productImage" class="my-3" style="width: 100% ; height: 300px; text-align: center;">
                                <h3 class="">{{myproduct.productName}}</h3>
                                <h3 class="d-none">{{myproduct._id}}</h3>
                                <div class=" bg-light p-2 rounded ">
                                    <h4 class="text-dark "><span>{{myproduct.price}} LE</span></h4>
                                    
                                        <button class="btn button" (click)="addToCard(myproduct._id)"><img class="bg-light card" src="../../../assets/image/1124199.png"></button>
                                    
                                </div>
                            </div>
                        <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</ng-template>

<ng-template #adminTemplate>
    <div class="  container ">
        <button class="btn btn-primary mx-1" routerLink="/products/new" routerLinkActive="bg-light rounded text-dark"
                    [routerLinkActiveOptions]="{exact:true}">Add Product</button>
          <table class="table my-5">
              <thead>
                <tr>
                
                  <th scope="col">Product-Name</th>
                  <th scope="col">Product-describtion</th>
                  <th scope="col">Product-Price</th>
                  <th scope="col">Product-Image</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let productItem of productsList">
                  <th scope="row" class="d-none">{{productItem._id}}</th>
                  <td>{{productItem.productName}}</td>
                  <td>{{productItem.description}}</td>
                  <td>{{productItem.price}}</td>
                  <td><img src="{{productItem.productImage}}" style="width: 150px; height: 150px;"></td>
                  <td>        
                    <button class="btn btn-warning mx-1" routerLink="/products/{{productItem._id}}" routerLinkActive="bg-light rounded text-dark"
                    [routerLinkActiveOptions]="{exact:true}"><span class="material-symbols-outlined">
                      edit
                      </span></button>
                       <button class="btn btn-danger" (click)="deleteProductItem(productItem._id)" ><span class="material-symbols-outlined">
                        delete
                        </span></button> 
                  </td>
                </tr>
              
              </tbody>
         
            </table>
          
      </div>
      
</ng-template>




