<div class="bg-light p-5  text-light text-center">
    <h2 class="text-center text-dark mb-5">PRODUCTS</h2>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class=" row justify-content-center" *ngFor="let product of productsList">
                    <div class=" col-sm-12 col-md-6 col-lg-3 my-5 mx-5 border" *ngFor="let myproduct of product">
                        <img [src]="myproduct.productImage" class="my-3" style="width: 100% ; height: 300px; text-align: center;">
                        <h3 class="">{{myproduct.productName}}</h3>
                        <h3 class="d-none">{{myproduct._id}}</h3>
                        <div class=" bg-light p-2 rounded ">
                            <h4 class="text-dark "><span>{{myproduct.price}} LE</span></h4>
                            
                                <button class="btn button" (click)="addToCard(myproduct._id)"><img class="bg-light card" src="../../../assets/image/1124199.png"></button>
                            
                        </div>
                    </div>
                <div>
            </div>
        </div>
    </div>
</div>


